@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import './emoji-picker-styles.css';
@import './grape-custom.css';
@import './aqua.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default !important;
}
p {
    margin-bottom: 0;
}
.list-group-item.activex {
    background-color: #d1d1d1;
    border-color: transparent;
}
.list-group-item.activex > a {
    text-decoration: none;
    color: black;
}
.p-dialog-top {
    padding-top: 10vh;
}
.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}
.link, a, .btn-link {
    color: #54a8c7 !important;
    text-decoration: underline;
    cursor: pointer;
}
.bg-success-light {
    background-color: #e9faf2;
}
.card-header .btn {
    padding: 0;
    font-size: .875rem;
    border-radius: 0.2rem;
    margin-left: 5px;
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
}
.p-blockui-container {
    position: static;
}
.p-inputtext {
    padding: 0.375rem 0.75rem !important;
}
.p-inputtext:focus {
    box-shadow: none;
    border-color: black;
}
label {
    font-weight: bold;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem 1.25rem;
    border: none !important;
    color: #0d6efd !important;
    background: none !important;
    font-weight: normal !important;
    border-radius: 4px;
    transition: box-shadow 0.15s;
}
.text-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
    cursor: pointer;
}
.text-white {
    color: white !important;
}
.is-invalid {
    border-color: red !important;
}
.bi.bi-lg {
    font-size: 25px;
}
.action-sheet-destructive {
    color: var(--ion-color-danger) !important;
}
.btn-link:disabled {
    background-color: transparent;
    border-color: transparent;
}
.btn-link:focus {
    background-color: transparent;
    border-color: transparent;
}
:not(.btn-check)+.btn:active {
    color: #54a8c7;
    background-color: inherit;
    border-color: #54a8c7;
}
.btn:disabled {
    color: #54a8c7;
    background: none;
}
